.App {
  text-align: center;
}


body{
  margin: 0;
}

.hello{
  margin: 5em auto 0;
  display: flex;
  flex-wrap: wrap;
}


.church-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 1em auto;
  padding: 2em 0em 0em 0em;
  border: 2px solid black;
  border-radius: 20px;
}
.church-card > * > * {
  margin: 0.2em 0;
  color: black;
}

.church-card > * > h1 {
  text-decoration: underline;
  margin-bottom: 0;
}
.church-card > *  > h2 {
  margin-top: 0;
  margin-bottom: 1em;
}

.add-new-values{
  display: none;
  align-items: center;
  padding: 1em;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
}


.input-proper {
  border: 1.8px solid black;
  border-radius: 5px;
  margin: 0 1em;
}

#add-header {
  text-decoration: underline;
}

.header {
  background-color: white;
  border-bottom: 1px solid black;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.add-churches-button{
  font-size: 3.5em;
  padding: 1rem 2.25rem;
  border: none;
  border-radius: 15%;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

.password-field {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 300px;
  transform: translate(-50%, -50%);
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
}

.password-field > h1 {
  margin-bottom: -0.5em;
}

.password-field > input {
  width: 60%;
  max-width: 400px;
  margin: 0.5em auto;
  padding: 1em;
  border-radius: 8px;
  border: 1.5px solid black;
}

.password-field-button {
  width: 200px;
  margin: 1em auto;
  padding: 1em;
  border: none;
  border-radius: 15px;
}
.add-new-church-close{
  position: absolute;
  font-size: 20px;
  right: 0.2em;
  top: 0.2em;
  padding: 0.5em;
  border: none;
  border-radius: 100px;
  background-color: white;
}

#add-new-church-password{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
  border: none;
  border-radius: 20px;
  background-color: white;
}

#ind-details {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border:  2px solid black;
  padding: 1em;
  height: 60vh;
  width: 60vw;
  border-radius: 15px;
}

#ind-details > textarea {
  padding: 1em;
  height: 65%;
  border: 1px solid black;
  border-radius: 15px;
}

#ind-details > h1 {
  margin-top: 0;
}

#button-ind-details {
  margin: 1em auto 0em auto;
  min-width: 100%;
  padding: 1.5em;
  border-radius: 15px;
  border: none;
}

#close-button-ind-details{
  position: fixed;
  right: 1rem;
  top: 1rem;
  background-color: white;
  border: none;
  font-size: 1.5em;
}














/* Specific DATA to Church Users */



#specific-info-button {
  font-size: 3.5em;
  padding: 1rem 2.25rem;
  border: none;
  border-radius: 15%;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}


#ind-card {
  display: flex;
  text-align: center;
  margin: 1em auto;
  width: 280px;
  flex-direction: column;
  padding: 1em 0 0 0;
  border: 2px solid black;
  border-radius: 15px;
}

#ind-card > div > *{
  margin: 0.5em auto;

}

#ind-card > h3 {
  margin-bottom: 1em;
}

#ind-card > h1{
  margin-top: 0;
  margin-bottom: 1em;
}

.ind-dashboard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 5em auto 1.5em auto;
  width: 90%;
  text-align: center;
}

#ind-form {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
}

.ind-input {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

.edit-delete-password-field-button{
  padding: 1em;
  width: 50%;
}

#edit-form{
  display: none;
  border: 2px solid black;
  border-radius: 15px;
  padding-bottom: 0.5em;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

#delete-button {
  border: none;
  border-radius: 0px 0px 0px 10px;
  margin-bottom: none;
  border-right: 2px solid white;
}
#edit-button {
  border: none;
  border-radius: 0px 0px 10px 0px;
  margin-bottom: none;
}

#ind-password-input{
  margin-bottom: 1em;
  margin-top: 0em;
}


.church-edit-button {
  width: 100%;
  height: auto;
  margin: auto 0 0 0;
  border: none;
  padding: 1.5em 1em;
  border-radius: 0px 0px 20px 20px;
}

.church-card-without-button{
  margin-bottom: 1em;
}

#church-edit-form{
  min-width: 200px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid black;
}


#ind-card-add-details {
  margin: 0 auto;
  width: 100%;
  padding: 1.5em;
  border: none;
  border-radius: 0px 0px 15px 15px;
}

#main-password {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  border: 1px solid black;
  background-color: white;
  border-radius: 15px;
}

#main-password > form > input {
  padding: 1em;
  border: 1px solid grey;
  border-radius: 15px;
}










@media screen and (max-width: 500px) {
  .add-new-values{
    flex-direction: column;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
  
  .input-proper {
    margin-top: 0.1em;
    margin-bottom: 1.2em;
    padding: 0.75em;
  }

  #add-header {
    margin-top: 0em;
    margin-bottom: 0em;
  }

  .proper-add-button {
    margin-top: 0.5em;
    padding: 1em;
    width: 12em;
    border: none;
    border-radius: 12px;
    font-size: 1.2em;
  }

  #ind-card{
    margin: 1em auto;
  }

  #edit-form {
    flex-direction: column  ;
  }
}

@media screen and (min-width: 500px) {

  .input-proper {
    margin-top: 0.1em;
    margin-bottom: 1.2em;
    padding: 0.75em;
  }

  .proper-add-button {
    margin-top: 0.5em;
    padding: 1em;
    width: 12em;
    border: none;
    border-radius: 12px;
    font-size: 1.2em;
  }

  .add-new-values {
    padding: 0 1em;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  .add-header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .input1 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .input2 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .input3 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .input4 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .button{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
  }


  .flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  #edit-header{
    margin: 1em 1em;
  }
  
}

@media screen and (max-height: 400px) {
  .add-new-values {
    height: 250px;
    margin-top: -1em;
  }
  .add-new-values > * {
    margin-top: 3em;
  }
  #add-header {
    margin-top: 1em;
  }
  
}