.App {
  text-align: center;
}

body{
  margin: 0;
}

.hello{
  margin: 5em auto 0;
  display: flex;
  flex-wrap: wrap;
}

#church-card {
  display: flex;
}

.church-card {
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 1em auto;
  padding: 2em 0em;
  border: 2px solid black;
  border-radius: 20px;
}
.church-card > * {
  margin: 0.2em 0;
}

.church-card > h1 {
  text-decoration: underline;
  margin-bottom: 0;
}
.church-card > h2 {
  margin-top: 0;
  margin-bottom: 1em;
}

#add-new-church{
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  position: fixed;
  max-width: 400px;
  left: 6.8vw;
  right: 6.8vw;
  height: 50vh;
  margin: 4.5em auto;
}

.input-proper {
  border: 1.8px solid black;
  border-radius: 5px;
}

#add-header {
  text-decoration: underline;
}

#header {
  background-color: white;
  border-bottom: 1px solid black;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

#add-churches-button{
  font-size: 3.5em;
  padding: 1rem 2.25rem;
  border: none;
  border-radius: 15%;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}


@media screen and (max-width: 480px) {
  #add-new-church{
    display: none;
    flex-direction: column;
    height: 53.70vh;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }

  .input-proper {
    margin-top: 0.1em;
    margin-bottom: 1.2em;
    padding: 0.75em;
  }

  #add-header {
    margin-top: 0em;
    margin-bottom: 0em;
  }

  #proper-add-button {
    margin-top: 0.5em;
    padding: 1em;
    width: 12em;
    border: none;
    border-radius: 12px;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 480px) {

  .input-proper {
    margin-top: 0.1em;
    margin-bottom: 1.2em;
    padding: 0.75em;
  }

  #proper-add-button {
    margin-top: 0.5em;
    padding: 1em;
    width: 12em;
    border: none;
    border-radius: 12px;
    font-size: 1.2em;
  }

  #add-new-church {
    display: none;
    padding: 0 1em;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  #add-header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
  }

  #input1 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #input2 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  #input3 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #input4 {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  #button{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 5;
  }


  .flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

}

@media screen and (max-height: 400px) {
  #add-new-church {
    height: 250px;
    margin-top: -1em;
  }
  #add-new-church > * {
    margin-top: 3em;
  }
  #add-header {
    margin-top: 1em;
  }
}